
html{
    text-align: center;
    background-color:black;
}
h1{
    
    text-align: center;
    color:white;
    background-color:black;
    font-size:30px
}

 h2{
     color:black;
     font-size:80px;
}
 
p1{
    font-size:25px;
    word-spacing: 4mm;
    text-align: justify;
}
body{
    
    text-align: center;
    background-size: 1300px 1300px;
    background-size: 100% 170%;
} 
   
#contenedor{
    text-align: center;
    background-size: cover;
    padding: 100px;
    border-radius: 15px;
    min-height: 315px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);; 
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    flex-direction: column;
    object-position: center;
    size: 50px 50px;
    background-color:transparent;
    color:black;
}